# Ex 1.1: MapReduce with Python Functional Programming

#### Python *map* function
Python has e built in *map* function -> [see python docs](https://docs.python.org/3/library/functions.html#map)
* ``map(function, iterable object)`` applies a function to every member of the object (=data structure)
* iterable objects are e.g. lists, dicts, arrays, ... but also custom data structures (see [here](https://thispointer.com/python-how-to-make-a-class-iterable-create-iterator-class-for-it/))

In [1]:
#example
def Plus1(a):
    return a+1

A = [1,2,3,4]
print(A)
B = list(map(Plus1,A)) #need to cast map output to list
print(B)

[1, 2, 3, 4]
[2, 3, 4, 5]

In [2]:
#example 2 - map with an function that takes arguments
from functools import partial

def PlusX(a,x):
    return a+x


A = [1,2,3,4]
print(A)
B = list(map(partial(PlusX,x=2),A)) #use partial to fix parameters 
print(B)

C = [1,1,3,3]
D = list(map(PlusX,A,C)) #or input multiple iterable objects
print(D)

[1, 2, 3, 4]
[3, 4, 5, 6]
[2, 3, 6, 7]

In [3]:
#example 3 - map with lmbda functions
A = [1,2,3,4]
B = list(map(lambda x:x+1,A ))#implement function directly with lambda
print(B)

[2, 3, 4, 5]

In [4]:
#example 4 - Numpy has map "build in"
import numpy as np
A = np.random.rand(10,10)*20
A

array([[16.43469986,  2.00562362, 18.98851885,  9.89425827,  9.9320783 ,
        19.85151618, 16.23546121, 18.59835865, 18.80877979, 19.70869004],
       [ 1.96952402, 13.03086538,  0.04290068,  9.11585   , 12.8181149 ,
         7.43651592,  7.56199351,  0.70125989, 18.70240368,  5.1308863 ],
       [ 4.73892578, 10.27604935, 10.41361138,  2.95400411,  2.39060952,
        19.70617769,  3.44106542, 17.84322252,  1.9822502 , 13.44496681],
       [ 7.96902635,  5.30925003,  5.84726719,  9.17057099,  0.71976918,
        16.91480571,  2.62612075,  1.35953389, 17.03906601,  7.89109439],
       [ 9.38118667,  0.71326148, 17.26629095,  1.77872626, 18.42740849,
         6.56156721, 14.32392454,  5.92246479, 19.37962186, 10.8905103 ],
       [ 1.50650391,  3.33752447, 18.06688904,  2.17563986,  6.13241256,
         9.43579718,  6.40173544, 13.73429276, 11.57534444,  1.64978574],
       [ 8.41011358,  5.77497133, 19.90137091, 15.55925453,  9.91625397,
         6.21682383, 12.5626994 ,  5.63041515, 18.45939024, 15.39677826],
       [ 2.31212253, 18.45342873,  3.65711935,  8.72813172,  3.77419203,
         9.28998918,  4.59054868, 18.99535235, 11.01682996,  6.4186251 ],
       [ 6.90097611,  4.1047425 , 10.62962116,  0.74520059,  2.63393473,
         3.35716693, 13.00896858, 10.37695219, 10.95563501, 10.60548731],
       [15.96472571, 14.5759585 , 16.2417504 , 18.30491258,  7.75933343,
        16.3161081 ,  0.97542566, 11.4541405 ,  4.62496089,  0.2617    ]])

In [ ]:
#apply function directly on each element of an array
def isLarger10(x):
    return x>10

B = isLarger10(A)

In [ ]:
B

array([[False,  True,  True, False, False, False,  True, False, False,
        False],
       [False, False,  True,  True, False, False, False, False,  True,
         True],
       [ True,  True,  True, False,  True, False, False,  True, False,
        False],
       [ True,  True,  True, False,  True,  True, False, False, False,
        False],
       [ True, False,  True,  True, False,  True, False,  True, False,
        False],
       [False, False, False,  True,  True,  True,  True, False, False,
         True],
       [ True,  True,  True, False,  True, False,  True, False, False,
        False],
       [False,  True, False,  True,  True, False, False,  True,  True,
         True],
       [False, False,  True, False, False, False,  True,  True, False,
         True],
       [ True,  True,  True,  True, False,  True,  True, False,  True,
        False]])

#### *Reduce* in Python
*functools* also provides a *reduce* function. Again, it will take a function and one ore more iterable objects as arguments. (see [API](https://docs.python.org/3/library/functools.html#functools.reduce))

In [5]:
# importing functools for reduce() 
import functools 
  
# initializing list 
lis = [ 1 , 3, 5, 6, 2, ] 
  
def addIt(a,b):
    return a+b

# using reduce to compute sum of list 
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(addIt,lis)) 
  
# using reduce to compute maximum element from list 
print ("The maximum element of the list is : ",end="") 
print (functools.reduce(lambda a,b : a if a > b else b,lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

#### Splitting

In [6]:
import more_itertools as mit

A=[1,2,3,4,5,6,7,8,9]
B=list(mit.chunked(A, 3)) #split into lists of max size 3

for i in B: #iterate over the spitts 
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [7]:
A='this is a short text in form of a python string'
B=list(mit.chunked(A, 5)) #split into lists of max size 5

for i in B: #iterate over the spitts 
    print(i)

['t', 'h', 'i', 's', ' ']
['i', 's', ' ', 'a', ' ']
['s', 'h', 'o', 'r', 't']
[' ', 't', 'e', 'x', 't']
[' ', 'i', 'n', ' ', 'f']
['o', 'r', 'm', ' ', 'o']
['f', ' ', 'a', ' ', 'p']
['y', 't', 'h', 'o', 'n']
[' ', 's', 't', 'r', 'i']
['n', 'g']

## Exercise: build a simple *Character Count* Algorithm based on the above *split, map* and *reduce* operators

In [9]:
#some text from NYTimes
text = ' Byron Spencer, handing out water and burgers to protesters outside Los Angeles City Hall, said he was both “elated and defeated” by word of the new charges. He said he had seen countless surges of outrage over police brutality against black men, only to have it happen again. “I’m 55, I’m black and I’m male — I’ve seen the cycle,” he said. “It’s almost like PTSD constantly having this conversation with my son.” Cierra Sesay reacted to the charges at a demonstration in the shadow of the State Capitol in Denver. “It’s amazing, it’s another box we can check,” she said. “But it goes up so much higher. It’s about the system.” In San Francisco, Tevita Tomasi — who is of Polynesian descent and described himself as “dark and tall and big” — said he regularly faced racial profiling, evidence of the bigger forces that must be overcome. On Wednesday, he distributed bottled water at what he said was his first demonstration, but one that would not be his last. What would stop him from protesting?'

* HINT: use list of *python* [dictionaries](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) to store the character counts in the map
* HINT 2: merge the dicts in reduce

In [10]:
dict = {}
split = list(mit.chunked(text, 7))

In [11]:
from collections import Counter

In [14]:
def counterFunction(listArgument):
  return Counter(listArgument)

In [15]:
split = list(map(counterFunction,split))

In [20]:
def reduceDict(A, B):
  return A + B

In [21]:
reduce = (functools.reduce(reduceDict, split))

In [33]:
reduce

Counter({' ': 176,
         ',': 11,
         '.': 10,
         '5': 2,
         '?': 1,
         'A': 1,
         'B': 2,
         'C': 3,
         'D': 2,
         'F': 1,
         'H': 2,
         'I': 8,
         'L': 1,
         'O': 1,
         'P': 2,
         'S': 5,
         'T': 3,
         'W': 2,
         'a': 72,
         'b': 16,
         'c': 25,
         'd': 36,
         'e': 89,
         'f': 12,
         'g': 19,
         'h': 39,
         'i': 49,
         'k': 5,
         'l': 28,
         'm': 18,
         'n': 49,
         'o': 52,
         'p': 10,
         'r': 38,
         's': 59,
         't': 72,
         'u': 17,
         'v': 9,
         'w': 13,
         'x': 1,
         'y': 13,
         'z': 1,
         '—': 3,
         '’': 8,
         '“': 6,
         '”': 6})